services:
  db:
    image: postgres:15
    container_name: church_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=church_db
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d church_db"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - backend_network

  web:
    build: .
    container_name: church_web
    command: >
      sh -c "until pg_isready -h db -U user -d church_db; do echo waiting for database; sleep 5; done &&
      alembic upgrade head &&
      python -m app.create_super_admin &&
      uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    networks:
      - backend_network

networks:
  backend_network:
    driver: bridge

volumes:
  postgres_data:
